body { 
  background-color: rgb(179, 179, 179); 
}

h1 { 
  position: absolute;
  text-align: center;
  padding: 10rem 2rem;
  display: inline-flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0)
}

@keyframes slide {
	from {
	  background-position: 0 0;
	}
  
	to {
	  background-position: -120px 60px;
	}
  }
  
  .btn {
	display: flex;
	position: relative; 
	text-align: center;
	color: inherit;
	font-family: 'Courier New', Courier, monospace;
	font-size: inherit;
	background: rgb(255, 255, 255);
	padding: 1rem 3.4rem;
	border: 3px solid black;
	transition: all 0.5s;
	box-shadow: 8px 8px 0 rgba(32, 32, 32, 0.2);
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
	outline: none; 
  }
  
  .btn:last-child {
	margin: 0;
  }
  
  .btn:hover {
	box-shadow: 0.4rem 0.4rem 0 black;
	transform: translate(-0.4rem, -0.4rem);
  }
  
  .btn:active {
	box-shadow: 0 0 0 black;
	transform: translate(0, 0);
  }
  
  .options {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

